{% extends "baseBack.html.twig" %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Liste des joueurs</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Liste des joueurs</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" > Liste des joueurs </h3>
                                <ol class="float-sm-right">
                                    {#     <a class="btn btn-info" {# href="{{path('event_add')}}"  >Ajouter</a> #}

                                </ol>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                {#fgjldlkgflfgkjlfd#}



                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nomjoueur</th>
                                        <th>Prenomjoueur</th>
                                        <th>Datedenaissance</th>
                                        <th>Age</th>
                                        <th>Sexe</th>
                                        <th>Ville</th>
                                        <th>Imgjoueur</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for joueur in joueur %}
                                        <tr>
                                            <td>{{ joueur.nomjoueur }}</td>
                                            <td>{{ joueur.prenomjoueur }}</td>
                                            <td>{{ joueur.datedenaissance ? joueur.datedenaissance|date('Y-m-d') : '' }}</td>
                                            <td>{{ joueur.age }}</td>
                                            <td>{{ joueur.sexe }}</td>
                                            <td>{{ joueur.ville }}</td>
                                            {% if joueur.imgjoueur != null %}
                                                <td><img src="{{ asset('uploads/images/' ~ joueur.imgjoueur) }}" alt="" style="width: 50px;height: 50px"> </td>
                                            {% endif %}
                                            {% if joueur.imgjoueur == null %}
                                                <td>No.Image</td>
                                            {% endif %}
                                            <td>
                                           {#     <a href="{{ path('app_joueur_show', {'idjoueur': joueur.idjoueur}) }}">👁️</a>#}
                                                <a href="{{ path('app_joueur_backedit', {'idjoueur': joueur.idjoueur}) }}">✏️</a>
                                                {{ include('joueur/Backdelete.html.twig') }}

                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="9">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>


                                <a href="{{ path('app_joueur_backnew') }}">Create new</a>




                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <!-- DataTables  & Plugins -->
    <script src="{{asset('plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{asset('plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
    <script src="{{asset('plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
    <script src="{{asset('plugins/jszip/jszip.min.js')}}"></script>
    <script src="{{asset('plugins/pdfmake/pdfmake.min.js')}}"></script>
    <script src="{{asset('plugins/pdfmake/vfs_fonts.js')}}"></script>
    <script src="{{asset('plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{asset('plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{asset('plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

{% endblock %}